body {
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/cert/Certificate2_2.png) ; 
    background-size:cover;
    opacity: 0.5; 
    z-index: -1; 
}
// .inner  {
//     max-width: 1220px;
// }
.bnr {
    img {
        width: 100%;
    }
}