@font-face {
  font-family: "WooridaumB";
  src: url(../fonts/WooridaumB.woff) format("woff");
}

@font-face {
  font-family: "WooridaumR";
  src: url(../fonts/WooridaumR.woff) format("woff");
}

@font-face {
  font-family: "WooridaumL";
  src: url(../fonts/WooridaumL.woff) format("woff");
}
