#login-body {
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
}

.login-wrap{
    // position: relative;
    display: flex;
    justify-content: center;
    
}
.login.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1220px;
    // padding: 0 350px;
}

@media screen and (max-width: $breakpoint-sm) {
    .login.inner {
        width: 100%;
        padding: 0 16px; /* Adjust padding for smaller screens */
    }
  }
  
.login-title-wrap {
    // padding: 0 350px;
    // margin:45px 350px 20px 350px;
    width: 100%;
    .login-mobile-title{
        display: none;
    }

    .notice-title {
        text-align: center;
        font-size: 18px;
        margin: 10px 0 0 0;
        span {
            color: $primary-300;
        }
    }
    .check-list {
        display: flex;
        justify-content: center;
        font-size: 14px;
        padding: 15px 0;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            svg {
                padding-right: 5px;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
 
    .login-title-wrap {
        display: flex;
        justify-content: center;
        .title {
            display: none;
        }
        .login-mobile-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .home-btn,
            .menu-btn {
            display: flex;
            align-items: center;
            }
            .material-symbols-outlined {
                display: flex;
                width: 100%;
                font-size: 28px;
                line-height: 65px;
                font-variation-settings:
                'FILL' 0,
                'wght' 200,
                'GRAD' 0,
                'opsz' 24
              }
        }
        .notice {
            display: none;
        }
           
    }
    
}


.login-type-box{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;   
    width: 100%; 
    gap: 20px;
    .tab-wrap {
        display: none;
    }
    
}
.login-box{
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: center;
    width: 33.333%;
    height: 360px;
    border: solid 1px #e2e2e2;
    border-radius: 10px;
    h3 {
        color: $default;
        text-align: center;
        font-family: "WooridaumB";
        font-size: 18px;
        font-weight: 400;
        margin-top: 44px;
    }
    p {
        color: $gray-700;
        text-align: center;
        font-family: "WooridaumL";
        font-size: 12px;
        font-weight: 400;
        margin-top: 15px ;
    }

    .btn-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn1 {
            padding: 5px 0;
        }
        .main-btn {
            display: flex;
            width: 200px;
            padding: 10px 15px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 30px;
            color: $white;
            background: $primary-300;
            font-family: "WooridaumR";
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            
        }
    }
    .cert-box {
        padding: 30px 0 20px 0;
    }
    .Won-icon img{
        display: block;
        width: 100px;
        height: 100px;
    }
    
    #WonLogin {
        line-height: 40px;
    }
}
.menu-list {
    display: flex;
    margin-top: 10px;
    li {
        display: flex;
        align-items: center;
        font-family: "WooridaumR";
        font-size: 12px;
        font-weight: 400;
        a {
            color: $gray-700;
        }
    }
    li:first-child::after {
        content:"";
        display: flex;
        width: 1px;
        height: 18px;
        margin: 0 10px;
        background: $gray-300;

    }

}
.id-login-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0 30px 0;
    .inner-box {
        display: flex;
        flex-direction: column;
        
        .section-id,
        .section-pw {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 8px;
        label {
            margin-right: 10px;
        }
        
        input {
            display: flex;
            // flex: 1;
            width: 170px;
            // padding: 9px 108px 9px 5px;
            align-items: center;
            border-radius: 1px;
            border: 0.5px solid #D9D9D9;
            background: $gray-100;
            padding: 8px;
            outline: none; /* 선택 시 검은 테두리 제거 */
        }
        ::placeholder {
            color: $gray-400;
            font-family: "Noto Sans KR";
            font-size: 12px;
            font-style: normal;
            font-weight: 350;
            line-height: normal;
            letter-spacing: -0.36px;
        }
        
        input:focus {
            // border-color: #007bff;
            border-color: $primary-300;
            }
        }
    }
    .btn2.disabled {
        display: flex;
        width: 64px;
        height: 82px;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;
        // gap: 10px;
        border-radius: 3px;
        background: #8FBBD6;
        color: $white;
        text-align: center;
        font-family: "WooridaumR";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.42px;
    }
    .btn2 {
        display: flex;
        width: 64px;
        height: 82px;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;
        // gap: 10px;
        border-radius: 3px;
        background: $primary-300;
        color: $white;
        text-align: center;
        font-family: "WooridaumR";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.42px;
        cursor: pointer;
    }
}
.select-pop {
    display: flex;
    gap: 20px;
    color: $gray-700;
    text-align: center;
    font-family: "WooridaumR";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.36px;
    margin-top: 20px;
}
.menu-list.cert {
    display: flex;

    li:nth-child(2) {
        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 18px;
            margin: 0 10px;
            background: $gray-300;
        }
    }
}

@media screen and (max-width : $breakpoint-sm) {
    .login-type-box {
        flex-direction: column; /* Stack boxes vertically for smaller screens */
        gap: 15px; /* Add some space between login boxes */
        .tab-wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;
      }
    
        .tab-btn {
            width: 33.333%;
            border-radius: 10px 10px 0px 0px;
            background: $white;
            text-align: center;
            padding: 18.5px 22.5px;
            &.active {
                border-bottom: 1px solid $primary-300; /* 활성화된 경우 색 지정 (예: 빨간색) */
            }
        }
        
    }
    .login-box {
        display: none;
        width: 100%; /* Take full width for smaller screens */
        height: 190px;
        margin-bottom: 20px; /* Add some space between login boxes */
        padding: 20px;
        h3, p{
            display: none;
        }
        .Won-icon img{
            display: none;
        }
    }
    .login-box.active {
        display: flex;
        
        
        /* Additional styling as needed */
    }
    
    //   .id-login-box {
    //     padding: 30px 0 20px 0;
    //   }
      
    //   .select-pop {
    //     flex-direction: column; /* Stack elements vertically for smaller screens */
    //     gap: 10px; /* Add some space between elements */
    //   }
    
    //   .menu-list.cert {
    //     flex-direction: column; /* Stack elements vertically for smaller screens */
    //     li:nth-child(2)::after {
    //       display: none; /* Remove the vertical line */
    //     }
    //   }

    
    /* Add styling for tab buttons as needed */
    
}

.notice-wrap {
    display: flex;
    width: 100%;
    padding: 15px 0;   

}
.banking-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 0px 84px;
    // gap: 165px;
    border-radius: 15px;
    border: 1px solid #E2E2E2;
    background: $white;

    li {
        display: flex;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        a{
            color: $default;
            text-align: center;
            font-family: "WooridaumR";
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.6px;
        }
        a::after{
            content: "\e5cc";
            font-family: 'Material Symbols Rounded';
            font-size: 18px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin-left: 3px;
        }
    }
    .material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    color: $gray-700;
    }
}
@media screen and (max-width : $breakpoint-sm) {
    .notice-wrap {
        display: none;
    }
}
.service-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;   
    flex-shrink: 1;
    h3 {
        color: $default;
        font-family: "WooridaumB";
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 13px;
        
        a::after {
            content: "\e5cc";
            font-family: 'Material Symbols Rounded';
            font-size: 18px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin-left: 3px;
        }
    }

    // padding: 15px 350px;
    
}
.service-inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 84px;
    align-items:flex-start;
    border-radius: 15px;
    width: 100%;
    border: 1px solid #E2E2E2;
    background: $white;
    overflow: auto;
}
.faq-list {
    // width: 50%;
    color: $default;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-weight: 400;
    // letter-spacing: -0.42px;
    padding: 10px 20px 10px 0;
    // border-top: 2px solid #148a75;
    // border-bottom: 1px solid #ddd;
    white-space: initial;

    dt {
        border-top: 1px solid $gray-300;
        padding: 10px;
        position: relative;
        cursor: pointer;
        padding-right: 50px;
        font-size: 14px;
        font-weight: 400;
        color: $default;
        &::before {
            content: "Q ";
            display: inline-block;
            padding-right: 10px;
        }
        &::after {
            font-family: 'Material Symbols Rounded';
            content: "\e145";
            display: inline-block;
            position: absolute;
            // width: 15px;
            text-align: center;
            right: 10px;
            // top: 23px;
        }
        &.selected {
            color:  $primary-300;
            &::before {
                color:  $primary-300;
            }
            &::after {
                font-family: 'Material Symbols Rounded';
                content: "\e931";
                text-align: center;
            }
        }
    }
    dd {
        display: none;
        border-top: 1px solid $gray-300;
        padding: 10px;
        position: relative;
        background: $gray-100;
        font-weight: 400;
        &::before {
            content: "A ";
            display: inline-block;
            padding-right: 10px;
        }
        li {
            white-space: initial;
            b{
                font-weight: 500;
            }
            div {
                padding: 3px 0;
            }
        }
    }
    .faq-list dt:first-child {
        border-top: 0;
    }

}
.cs-contact-wrap {
    display: flex;
    flex-direction: column;
    // width: 50%;

    .contact-list {
        display: flex;
        padding: 13px 0 18px 0;
        .tel01 {
            color: $gray-700;
            text-align: center;
            font-family: "WooridaumR";
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.54px;
            padding-right: 45px;
        }
        .tel-tit {
            color: #008CDF;
            font-size: 14px;
            letter-spacing: -0.42px;
            text-align: left;
        }
        .tel02, .tel03 {
            padding: 5px 0;
            a {
                padding-right: 7px ;
            }
        }
        .tel02 {
             color: $gray-700;
            text-align: left;
            font-family: "WooridaumR";
            font-size: 12px;
            font-weight: 400;
            letter-spacing: -0.36px;
            padding-right: 45px;
        }
        .tel03 {
            color: $gray-700;
            text-align: left;
            font-family: "WooridaumR";
            font-size: 12px;
            font-weight: 400;
            letter-spacing: -0.36px;
            ul {
                display: flex;
                li{
                    padding-right: 5px;
                }
            }
    
        }
    }
}
@media screen and (max-width : $breakpoint-sm) {
    .service-inner {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        align-items: center;
        border: 0px;
        h3 {
            display: none;
        }
    }
    .faq-list {
        // width: 50%;
        font-size: 13px;
        border-radius: 10px;
        width: 100%;
        border: 1px solid #E2E2E2;
        background: $white;
        h3 {
            display: flex;
            font-size: 16px;
        }
    
        dt {
            border-top: 0px solid $gray-300;
            padding: 7px;
            // padding-right: 10px;
            font-size: 13px;
            font-weight: 400;
            color: $default;
            overflow-x: hidden;
        }
    
    }
    .cs-contact-wrap {
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
        border: 1px solid #E2E2E2;
        background: $white;
        
        .contact-list {
            display: inline-block;
            flex-direction: row;
            padding: 13px 0 18px 0;
            h3 {
                display: flex;
                font-size: 16px;
            }
            .tel01 {
                color: $gray-700;
                display: flex;
                text-align: center;
                font-family: "WooridaumR";
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.54px;
                padding-right: 45px;

            }
            .tel-tit {
                color: #008CDF;
                font-size: 14px;
                letter-spacing: -0.42px;
                text-align: left;
            }
            .tel02, .tel03 {
                padding: 5px 0;
                a {
                    padding-right: 7px ;
                }
            }
            .tel02 {
                 color: $gray-700;
                text-align: left;
                font-family: "WooridaumR";
                font-size: 12px;
                font-weight: 400;
                letter-spacing: -0.36px;
                padding-right: 45px;
            }
            .tel03 {
                color: $gray-700;
                text-align: left;
                font-family: "WooridaumR";
                font-size: 12px;
                font-weight: 400;
                letter-spacing: -0.36px;
                ul {
                    display: flex;
                    li{
                        padding-right: 5px;
                    }
                }
        
            }
        }
    }
}
