@import "variables", "mixins", "fonts", "reset";

// ν—¤λ”
#header {
  width: 100%;
  height: $hd-height;
  position: relative;
  border-bottom: 1px solid $primary-400;
  .hd_wrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 1220px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    .hd_logo {
      width: 112px;
      position: relative;
      padding-top: 6px;
      img {
        width: 100%;
      }
    }
    .tnb {
      width: 100%;
      position: absolute;
      display: inline-block;
      top: 15px;
      font-family: "WooridaumL";
      font-size: 12px;
      .tnb_left {
        float: left;
        li {
          display: inline;
          margin-right: 15px;
        }
      }
      .tnb_right {
        float: right;
        li {
          display: inline;
          margin-right: 15px;
        }
      }
      .tnb_lang {
        position: relative;
        float: right;
        cursor: pointer;
        .la-angle-up {
          display: none;
        }
        .tnb_lang_sel {
          display: none;
          overflow: hidden;
          position: absolute;
          z-index: 100;
          top: 20px;
          left: 0;
          text-align: center;
          border-radius: 6px;
          background-color: $white;
          border: 1px solid $gray-300;
          li {
            width: 75px;
            height: 40px;
            padding: 0 12px;
            text-align: center;
            line-height: 40px;
            border-bottom: 1px solid $gray-300;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
    .gnb {
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-right: 280px;
      .gnb_1depth {
        li {
          display: inline-block;
          font-family: "WooridaumB";
          font-size: 18px;
          padding: 5px 25px;
          .gnb_2depth {
            display: none;
            overflow: hidden;
            position: absolute;
            top: 102%;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px;
            width: 100vw;
            background-color: $white;
            border-bottom: 1px solid $gray-300;
            text-align: center;
            li {
              display: inline-block;
              padding: 8px 30px;
              font-family: "WooridaumL";
              font-size: 14px;
            }
          }
        }
      }
      .gnb_right {
        position: absolute;
        right: 0;
        display: flex;
        font-size: 25px;
        .gnb_search {
          margin-right: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

// ν‘Έν„°
#footer {
  display: none;
  width: 100%;
  height: $ft-height;
}

@import "main";
