@import "variables", "mixins", "fonts", "reset";

// ν—¤λ”
#header {
  width: 100%;
  height: $hd-height;
  position: relative;
  .hd_wrap {
    width: 1220px;
    margin: 0 auto;
    .hd_logo img {
      width: 112px;
    }
  }
}

// ν‘Έν„°
#footer {
  display: none;
  width: 100%;
  height: $ft-height;
}

@import "main";
