@import "variables", "mixins", "fonts", "reset";

// 메인 길이에 상관 없이 푸터 하단 고정
#main {
  height: auto;
  min-height: $main-height;
}

// 헤더
#header {
  width: 100%;
  height: $hd-height;
  position: relative;
  border-bottom: 1px solid $primary-400;
  .hd_wrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 1220px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    .hd_logo {
      width: 112px;
      position: relative;
      padding-top: 6px;
      img {
        width: 100%;
      }
    }
    .tnb {
      width: 100%;
      position: absolute;
      display: inline-block;
      top: 15px;
      font-family: "WooridaumL";
      font-size: 12px;
      .tnb_left {
        float: left;
        li {
          display: inline;
          margin-right: 15px;
        }
      }
      .tnb_right {
        float: right;
        li {
          display: inline;
          margin-right: 15px;
        }
      }
      .tnb_lang {
        position: relative;
        float: right;
        cursor: pointer;
        .la-angle-up {
          display: none;
        }
        .tnb_lang_sel {
          display: none;
          overflow: hidden;
          position: absolute;
          z-index: 100;
          top: 20px;
          left: 0;
          text-align: center;
          border-radius: 6px;
          background-color: $white;
          border: 1px solid $gray-300;
          li {
            width: 75px;
            height: 40px;
            padding: 0 12px;
            text-align: center;
            line-height: 40px;
            border-bottom: 1px solid $gray-300;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
    .gnb {
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-right: 280px;
      .gnb_1depth {
        li {
          display: inline-block;
          font-family: "WooridaumB";
          font-size: 18px;
          padding: 5px 25px;
          .gnb_2depth {
            display: none;
            overflow: hidden;
            position: absolute;
            top: 102%;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px;
            width: 100vw;
            background-color: $white;
            border-bottom: 1px solid $gray-300;
            text-align: center;
            z-index: 100;
            li {
              display: inline-block;
              padding: 8px 30px;
              font-family: "WooridaumL";
              font-size: 14px;
            }
          }
        }
      }
      .gnb_right {
        position: absolute;
        right: 0;
        display: flex;
        font-size: 25px;
        .gnb_search {
          margin-right: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

// 푸터
#footer {
  width: 100%;
  height: $ft-height;
  position: relative;
  transform: $main-height;
  border-top: 1px solid $gray-300;
  .ft_wrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 1220px;
    height: 100%;
    margin: 0 auto;
    .ft_left {
      .ft_more {
        .ft_more_1depth {
          position: relative;
          display: flex;
          li {
            padding-right: 100px;
            font-size: 15px;
            .fa-circle-chevron-up {
              padding-left: 10px;
              color: $primary-400;
            }
            .ft_more_2depth {
              display: none;
              overflow: hidden;
              position: absolute;
              z-index: 100;
              background-color: $white;
              border: 1px solid $gray-300;
              border-radius: 6px;
              padding: 8px;
              top: -135px;
              li {
                padding: 0 5px;
                font-size: 12px;
                font-family: "WooridaumL";
              }
            }
            .ft_more_other {
              left: -32px;
            }
            .ft_more_family {
              left: 202px;
            }
            .ft_more_sns {
              top: -117px;
              left: 425px;
            }
          }
        }
      }
      .ft_link {
        font-size: 15px;
        font-family: "WooridaumL";
        padding: 30px 0 13px 0;
        color: $gray-400;
      }
      .ft_copy {
        font-size: 15px;
        color: $gray-400;
      }
      .ft_img {
        position: relative;
        display: flex;
        padding-top: 20px;
        img {
          height: 21px;
          padding-right: 15px;
          cursor: pointer;
        }
        span {
          display: none;
          overflow: hidden;
          position: absolute;
          z-index: 100;
          font-size: 12px;
          text-align: center;
          line-height: 1;
          font-family: "WooridaumL";
          background-color: $white;
          border: 1px solid $gray-300;
          border-radius: 6px;
          padding: 8px;
          top: -27px;
        }
        .ft_img_info1 span {
          left: -32px;
        }
        .ft_img_info2 span {
          left: -16px;
        }
        .ft_img_info3 span {
          left: 27px;
        }
      }
    }
    .ft_right {
      position: absolute;
      text-align: right;
      right: 0;
      .ft_call {
        span {
          font-size: 18px;
          font-family: "WooridaumL";
        }
        strong {
          font-size: 24px;
          font-family: "WooridaumB";
          color: $primary-400;
        }
        .call_internal {
          padding-bottom: 20px;
        }
      }
    }
  }
}


@import "products";
=======
@import "main", "login";
