@import "variables", "mixins", "fonts", "reset";

// ν—¤λ”
#header {
  width: 100%;
  height: $hd-height;
  position: relative;
  .hd_wrap {
    width: 1220px;
    margin: 0 auto;
    .hd_logo img {
      width: 112px;
    }
    .tnb {
      width: 100%;
      display: inline-block;
      .tnb_left {
        float: left;
        li {
          display: inline;
        }
      }
      .tnb_right {
        float: right;
        li {
          display: inline;
        }
      }
      .tnb_lang {
        float: right;
      }
    }
  }
}

// ν‘Έν„°
#footer {
  display: none;
  width: 100%;
  height: $ft-height;
}

@import "main";
