@charset "UTF-8";
@font-face {
  font-family: "WooridaumB";
  src: url(../fonts/WooridaumB.woff) format("woff");
}
@font-face {
  font-family: "WooridaumR";
  src: url(../fonts/WooridaumR.woff) format("woff");
}
@font-face {
  font-family: "WooridaumL";
  src: url(../fonts/WooridaumL.woff) format("woff");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "WooridaumR", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "WooridaumR", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip {
  position: relative;
  z-index: 3000;
}
#skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#main {
  height: auto;
  min-height: calc(100vh - 100px - 220px);
}

#header {
  width: 100%;
  height: 100px;
  position: relative;
  border-bottom: 1px solid #0067ac;
}
#header .hd_wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 1220px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0 15px 0;
}
#header .hd_wrap .hd_logo {
  width: 112px;
  position: relative;
  padding-top: 6px;
}
#header .hd_wrap .hd_logo img {
  width: 100%;
}
#header .hd_wrap .tnb {
  width: 100%;
  position: absolute;
  display: inline-block;
  top: 15px;
  font-family: "WooridaumL";
  font-size: 12px;
}
#header .hd_wrap .tnb .tnb_left {
  float: left;
}
#header .hd_wrap .tnb .tnb_left li {
  display: inline;
  margin-right: 15px;
}
#header .hd_wrap .tnb .tnb_right {
  float: right;
}
#header .hd_wrap .tnb .tnb_right li {
  display: inline;
  margin-right: 15px;
}
#header .hd_wrap .tnb .tnb_lang {
  position: relative;
  float: right;
  cursor: pointer;
}
#header .hd_wrap .tnb .tnb_lang .la-angle-up {
  display: none;
}
#header .hd_wrap .tnb .tnb_lang .tnb_lang_sel {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 0;
  text-align: center;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #dadada;
}
#header .hd_wrap .tnb .tnb_lang .tnb_lang_sel li {
  width: 75px;
  height: 40px;
  padding: 0 12px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #dadada;
}
#header .hd_wrap .tnb .tnb_lang .tnb_lang_sel li:last-child {
  border-bottom: none;
}
#header .hd_wrap .gnb {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-right: 280px;
}
#header .hd_wrap .gnb .gnb_1depth li {
  display: inline-block;
  font-family: "WooridaumB";
  font-size: 18px;
  padding: 5px 25px;
}
#header .hd_wrap .gnb .gnb_1depth li .gnb_2depth {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 102%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  text-align: center;
}
#header .hd_wrap .gnb .gnb_1depth li .gnb_2depth li {
  display: inline-block;
  padding: 8px 30px;
  font-family: "WooridaumL";
  font-size: 14px;
}
#header .hd_wrap .gnb .gnb_right {
  position: absolute;
  right: 0;
  display: flex;
  font-size: 25px;
}
#header .hd_wrap .gnb .gnb_right .gnb_search {
  margin-right: 15px;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 220px;
  position: relative;
  transform: calc(100vh - 100px - 220px);
  border-top: 1px solid #dadada;
}
#footer .ft_wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 1220px;
  height: 100%;
  margin: 0 auto;
}
#footer .ft_wrap .ft_left .ft_more .ft_more_1depth {
  position: relative;
  display: flex;
}
#footer .ft_wrap .ft_left .ft_more .ft_more_1depth li {
  padding-right: 100px;
  font-size: 15px;
}
#footer .ft_wrap .ft_left .ft_more .ft_more_1depth li .fa-circle-chevron-up {
  padding-left: 10px;
  color: #0067ac;
}
#footer .ft_wrap .ft_left .ft_more .ft_more_1depth li .ft_more_2depth {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 6px;
  padding: 8px;
  top: -135px;
}
#footer .ft_wrap .ft_left .ft_more .ft_more_1depth li .ft_more_2depth li {
  padding: 0 5px;
  font-size: 12px;
  font-family: "WooridaumL";
}
#footer .ft_wrap .ft_left .ft_more .ft_more_1depth li .ft_more_other {
  left: -32px;
}
#footer .ft_wrap .ft_left .ft_more .ft_more_1depth li .ft_more_family {
  left: 202px;
}
#footer .ft_wrap .ft_left .ft_more .ft_more_1depth li .ft_more_sns {
  top: -117px;
  left: 425px;
}
#footer .ft_wrap .ft_left .ft_link {
  font-size: 15px;
  font-family: "WooridaumL";
  padding: 30px 0 13px 0;
  color: #8c8c8c;
}
#footer .ft_wrap .ft_left .ft_copy {
  font-size: 15px;
  color: #8c8c8c;
}
#footer .ft_wrap .ft_left .ft_img {
  position: relative;
  display: flex;
  padding-top: 20px;
}
#footer .ft_wrap .ft_left .ft_img img {
  height: 21px;
  padding-right: 15px;
  cursor: pointer;
}
#footer .ft_wrap .ft_left .ft_img span {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  font-family: "WooridaumL";
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 6px;
  padding: 8px;
  top: -27px;
}
#footer .ft_wrap .ft_left .ft_img .ft_img_info1 span {
  left: -32px;
}
#footer .ft_wrap .ft_left .ft_img .ft_img_info2 span {
  left: -16px;
}
#footer .ft_wrap .ft_left .ft_img .ft_img_info3 span {
  left: 27px;
}
#footer .ft_wrap .ft_right {
  position: absolute;
  text-align: right;
  right: 0;
}
#footer .ft_wrap .ft_right .ft_call span {
  font-size: 18px;
  font-family: "WooridaumL";
}
#footer .ft_wrap .ft_right .ft_call strong {
  font-size: 24px;
  font-family: "WooridaumB";
  color: #0067ac;
}
#footer .ft_wrap .ft_right .ft_call .call_internal {
  padding-bottom: 20px;
}